.advantages {
    @include default-bg;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    @include reset-list;

    li {
        display: inline-block;

        margin: {
            left: -2px;
            right: 2em;
        }
    }
}

.template-title {
    text-align: center;
    padding-bottom: 12px;
    margin-bottom: 35px;
}

.advantages {
    text-align: center;
    .row {
        row-gap: 48px;
    }

    h6 {
        max-width: 205px;
        margin: 0 auto;
        font-weight: 400;
        margin-bottom: 48px;
    }
}

.icon-box {
    height: 113px;
    width: 113px;
    border: 1px solid #6c7188;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 22px;
    padding: 10px;

    img {
        width: 100%;
        border-radius: 50%;
        object-fit: none;
        background: #89C249;
    }
}


