body {
    background: $bg-primary;
    font-family: "ProximaNova";
    .container {
        max-width: 1170px;
        padding-right: $container-padding;
        padding-left: $container-padding;
        margin-right: auto;
        margin-left: auto;
        .btn {
            font-weight: 600;
            font-size: 15px;
            line-height: 145%;
            border-radius: 90px;
            display: inline-flex;
            align-items: center;
            color: #fff;
            letter-spacing: 0.6;
        }
        .btn-primary {
            background-color: $color-primary;
            height: 50px;
            border-radius: 90px;
            border: none;
            &:hover {
                background-color: $color-secondary;
            }
            &:active {
                background-color: $color-secondary;
            }
        }
    }
}





