body {
    background: $bg-primary;
    .container {
        max-width: 1170px;
        padding-right: $container-padding;
        padding-left: $container-padding;
        margin-right: auto;
        margin-left: auto;
        .btn {
            font-weight: 600;
            font-size: 15px;
            line-height: 145%;
            border-radius: 90px;
            display: inline-flex;
            align-items: center;
            color: #fff;
            letter-spacing: 0.6;
            padding: 13px 22px;
		    margin: 15px;
        }
        .btn-primary {
            background-color: $color-primary;
            height: 50px;
            border-radius: 90px;
            border: none;
            &:hover {
                background-color: $color-secondary;
            }
            &:active {
                background-color: $color-secondary;
            }
        }
    }
}

.container-xxl {
    max-width: 1850px;
    color: #fff;
}

ul.slick-dots {
    display: flex;
    justify-content: center;
}

ul.slick-dots button {
    width: 5px;
    height: 5px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background: transparent;
    border-radius: 20px;
    border: 1px solid #fff;
    margin: 0 8px;
    transition: .3s;
}

.slick-dots li {
    list-style: none;
    &:before {
       display: none;
    }
}

.slick-dots .slick-active button {
    background-color: #fff;
    width: 5px;
}

.slick-arrow {
    width: 40px;
    height: 90px;
    font-size: 0;
    line-height: 0;
    background: url(assets/img/vector011.svg) center/contain no-repeat;
    border: none;
}

button.slick-prev.slick-arrow {
    background: url(assets/img/vector022.svg) center/contain no-repeat;
}

.icon {
    padding-left: 20px;
}





