
.header {
	padding: 25px 0 39px;
	.container {
        display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		max-width: 172px;
		img {
			max-height: 60px;
		}
	}

	li {
		list-style: none;
	}
	
	&__navigation {
		width: 100%;
		display: flex;

		&-item-link {
            color: #fff;
			padding: 10px;
			text-decoration: none;
			&:hover {
				color: $color-primary;
			}
		}

		&-list {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 auto;
			padding: 0;
			max-width: 602px;
		}
	}

	.btn {
		padding: 13px 22px;
		margin: 15px;
	}
}

.header__navigation {
    display: none;

	&.show {
		display: flex;
	}
}

