
.header {
	padding: 25px 0 39px;
	.container {
        display: flex;
		justify-content: space-between;
		align-items: center;
	}

	li {
		list-style: none;
	}
	
	&__navigation {
		width: 100%;
		display: flex;

		&-item-link {
            color: #fff;
			padding: 10px;
			text-decoration: none;
			&:hover {
				color: $color-primary;
			}
		}

		&-list {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 auto;
			padding: 0;
			max-width: 602px;
		}
	}

	.btn {
		padding: 13px 22px;
		margin: 15px;
	}
}

.header__navigation {
    display: none;

	&.show {
		display: flex;
	}
}

.btn-burger {
	padding: 1.25px 13.5px;
    border: none;
	position: relative;
	
	&:before,
	&:after {
		content: "";
		top: -10px;
		left: 0;
		position: absolute;
		height: 2.5px;
		width: 27px;
		background: #fff;
		transition: 0.3s;
	}

	&:after {
        content: "";
		top: 10px;
	}

	&.open {
		background: transparent;
        &:after {
			transform: rotate(45deg) translate(-10px, -10px);
		}

		&:before {
			transform: rotate(-45deg) translate(-5px, 4px);
		}
	}
}

