<section class="advantages container-fluid">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div id="slider-advantages" class="row">
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/file 11.svg" alt="">
                    </div>
                    <h6 class="advantage-description">
                        Таможенное оформление груза
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/check-mark 12.svg" alt="">
                    </div>
                    <h6 class="advantage-description">
                        Страховка груза
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/magnifying-glass 13.svg" alt="">
                    </div>
                    <h6 class="advantage-description">
                        Проверка товара на брак
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/delivery-truck 14.svg" alt="">
                    </div>
                    <h6 class="advantage-description">
                        Доставка в любой город Украины
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/speech-bubble 15.svg" alt="">
                    </div>
                    <h6 class="advantage-description">
                        Консолидация на складе
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/like 16.svg" alt="">
                    </div>
                    <h6 class="advantage-description">
                        Ответственное хранение груза
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/credit-card 17.svg" alt="">
                    </div>
                    <h6 class="advantage-description">
                        Помощь в оплате товара
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/stack 18.svg" alt="">
                    </div>
                    <h6 class="advantage-description">
                        Упаковка, переупаковка, паллетирование груза к международной перевозке
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>