<section class="delivery">
    <div class="container">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="slider-template">
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/Rectangle 24.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Авто - обычная</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/calendar.svg" alt="calendar">
                            </div>
                            9-15 дней
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/Vectorbox.svg" alt="box">
                            </div>
                            от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/к</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/Rectangle 24 (1).png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Авто - ускоренная</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/calendar.svg" alt="calendar">
                            </div>
                            9-15 дней
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/Vectorbox.svg" alt="box">
                            </div>
                            от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/к</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/Rectangle 24 (2).png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Авиа</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/calendar.svg" alt="calendar">
                            </div>
                            9-15 дней
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/Vectorbox.svg" alt="box">
                            </div>
                            от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/к</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/Rectangle 244.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Ж/д</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/calendar.svg" alt="calendar">
                            </div>
                            9-15 дней
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/Vectorbox.svg" alt="box">
                            </div>
                            от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/к</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="../assets/img/Rectangle 245.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Море</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/calendar.svg" alt="calendar">
                            </div>
                            9-15 дней
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/Vectorbox.svg" alt="box">
                            </div>
                            от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/к</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>