<section class="first-screen">
    <div id="banner" class="banner container-xxl">
        <div style="background-image: url(../assets/img/first-screen1.png);">
            <div class="container">
                <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                <p class="banner-subtitle">Доставляем любые грузы из Китая по честной цене</p>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость <img src="../assets/img/arrow-circle-left 1.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div style="background-image: url(../assets/img/first-screen2.png);">
            <div class="container">
                <h2 class="banner-title">2 Прямое КАРГО из Китая</h1>
                <p class="banner-subtitle">Доставляем любые грузы из Китая по честной цене</p>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость <img src="../assets/img/arrow-circle-left 1.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div style="background-image: url(../assets/img/first-screen3.png);">
            <div class="container">
                <h2 class="banner-title">3 Прямое КАРГО из Китая</h1>
                <p class="banner-subtitle">Доставляем любые грузы из Китая по честной цене</p>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость <img src="../assets/img/arrow-circle-left 1.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div style="background-image: url(../assets/img/first-screen4.png);">
            <div class="container">
                <h2 class="banner-title">4 Прямое КАРГО из Китая</h1>
                <p class="banner-subtitle">Доставляем любые грузы из Китая по честной цене</p>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость <img src="../assets/img/arrow-circle-left 1.svg" class="icon" alt="icon"></button>
            </div>
        </div>
    </div>
    <div class="banner-arrows">

    </div>
</section>