<header class="header">
    <div class="container">
        <a href="/" class="header__logo">
            <img src="../assets/img/logo.svg" class="img-fluid" alt="logo">
        </a>
        <nav class="header__navigation">
            <a href="#" class="header_navigation-item">Price and terms</a>
            <a href="#" class="header_navigation-item">Services</a>
            <a href="#" class="header_navigation-item">About us</a>
            <a href="#" class="header_navigation-item">Contacts</a>
            <a href="#" class="header_navigation-item">Register the cargo</a>
        </nav>
        <button class="btn btn-primary">Purchase request</button>
    </div>
</header>