<header class="header">
    <div class="container">
        <div class="header_logo">
            <img src="../assets/img/logo.svg" alt="">
        </div>
        <nav class="header_navigation">
            <a href="#" class="header_navigation-item">Price and terms</a>
            <a href="#" class="header_navigation-item">Services</a>
            <a href="#" class="header_navigation-item">About us</a>
            <a href="#" class="header_navigation-item">Contacts</a>
            <a href="#" class="header_navigation-item">Register the cargo</a>
        </nav>
        <button class="btn btn-primary">

        </button>
    </div>
</header>

