<header class="header">
    <div class="container">
        <a href="/" class="header__logo">
            <img src="../assets/img/logo.svg" class="img-fluid" alt="logo">
        </a>
        <nav class="header__navigation">
            <ul class="header__navigation-list">
                <li class="header__navigation-item"><a href="#" class="header__navigation-item-link">Price and terms</a></li>
                <li class="header__navigation-item"><a href="#" class="header__navigation-item-link">Services</a></li>
                <li class="header__navigation-item"><a href="#" class="header__navigation-item-link">About us</a></li>
                <li class="header__navigation-item"><a href="#" class="header__navigation-item-link">Contacts</a></li>
                <li class="header__navigation-item"><a href="#" class="header__navigation-item-link">Register the cargo</a></li>
            </ul>
            <button class="btn btn-primary">Purchase request</button>
        </nav>
        <button class="btn-burger"></button>
    </div>
</header>