<section class="services container-fluid charter">
    <div class="container">
        <div class="template-title">
            <h2>услуги</h2>
        </div>
        <div class="slider-template">
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/Rectangle 2531.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Выкуп товара</h4>
                    <h5 class="template-card__subtitle">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h5>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/Rectangle 22.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Страховка груза</h4>
                    <h5 class="template-card__subtitle">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h5>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/Rectangle 13.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Аренда склада</h4>
                    <h5 class="template-card__subtitle">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h5>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="../assets/img/Rectangle 2514.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Перевод денежных средств</h4>
                    <h5 class="template-card__subtitle">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h5>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>